<div id='page_1'>

  <%= form_for @user, url: {action: "create", :controller=>"users"}, html: {class: "create_user"} do |f|  %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password_hash, placeholder: "Password" %>
  <%= f.submit "Sign up!" %>
  <% end %>


  <div id='nav_index'>

  </div>

</div>
